
<div style="border:solid gray 1px; padding:10px">
<h5>Child Component</h5>
<p>The current theme is: @Theme</p>

<GrandChildComponent />
</div>

@code {
    [CascadingParameter]
    public string? Theme { get; set; }
}
