@page "/parentcomponent"

@using BlazorGym.Models

<div style="border:solid gray 1px; padding:10px">

    <h1>Parent Component</h1>
    <p>MyProperty = @MyProperty</p>

    <CascadingValue Value="MyProperty" Name="MyCascadingParameter">
        <ChildComponent />
    </CascadingValue>
</div>

@code {
    string MyProperty = "EUC Syd";

    [CascadingParameter]
    public Dalek? Dalek { get; set; }
}