@page "/parentcomponent"

<h3>Parent Component</h3>

<CascadingValue Value="MyProperty" Name="MyCascadingParameter">
    <ChildComponent />
</CascadingValue> 

@code {
    string MyProperty = "My property";
}