@page "/parentcounter"

<div style="border:solid gray 1px; padding:10px">
    <h3>ParentCounter = @currentCount</h3>

    @* CurrentCount + IncrementAmout = one-way binding, from parent to child *@
    <ChildCounter CurrentCount=currentCount IncrementAmount="incrementAmount" />

    @* @bind-CurrentCount = two-way binding *@
    <ChildCounter @bind-CurrentCount=currentCount IncrementAmount="incrementAmount" />
</div>

@code {
    int currentCount = 0;
    int incrementAmount = 10;
}


