<h3>Parent Component</h3>

<CascadingValue Value="MyProperty" Name="MyCascadingParameter">
    <ChildComponent />
</CascadingValue> 

@code {
    public string MyProperty { get; set; } = "My property";
}