@page "/parentcomponent"

<div style="border:solid gray 1px; padding:10px">

    <h3>Parent Component</h3>
    <p>MyProperty = @MyProperty</p>

    <CascadingValue Value="MyProperty" Name="MyCascadingParameter">
        <ChildComponent />
    </CascadingValue>
</div>

@code {
    string MyProperty = "EUC Syd";
}